@import "tailwindcss";
body{
    background-color: rgb(2, 0, 51);
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background: #ff0000;
}

::-webkit-scrollbar-thumb {
	background: #d2d2d2;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}